<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Oh No!</title>
</head>
<body>
    <h1>No dogs matched those search terms!</h1>
    <p>
        <h5>What a bummer!</h5>
        <img src='https://vetstreet.brightspotcdn.com/ad/e9/8522224b4d0eb9b8f372726d4725/basset-hound.jpg'></a>
    </p>
    <p>
        <button onclick="document.location = '/'">Go Home</button>
        <button onclick="document.location = '/dogs'">Search by Dog</button>
        <button onclick="document.location = '/groupings'">Search by Grouping</button>
    </p>
</body>
</html>